<body style="background-color:aquamarine;">
<div class="container">
<h1 role="heading">New Item</h1>

<%= render 'form', tier_list_item: @tier_list_item %>
<br>
<button type="button" class="btn btn-primary"><%= link_to 'Back', tier_list_path(@tier_list), class:"nav-link" %></button>
</div>
</body>



