<div class="container">
    <h1 role="heading">Editing Tier List</h1>

    <%= render 'form', tier_list: @tier_list %>

    <br>
    <button type="button" class="btn btn-primary"><%= link_to 'Show', @tier_list, class:"nav-link" %> </button> |
    <button type="button" class="btn btn-primary"><%= link_to 'Back', tier_list_path, class:"nav-link" %> </button>
</div>